header {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  --header-text: 1.2rem;
  padding-bottom: 1rem; /* for the theme switch */

  & .header-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(var(--brightness));
  }

  & .header-title {
    width: 100%;
    text-align: center;
    font-size: calc(var(--header-text) * 3.3);
    font-weight: bold;
    color: var(--color-title);
    padding-top: 37vh;
    padding-bottom: 1vh;
  }

  & .theme-switch {
    position: sticky;
    top: 1rem;
    left: 1.1rem;
    bottom: 6rem;
  }
}

#title-typed {
  width: 100%;
  text-align: center;
  & span {
    line-height: 1.5;
    font-size: calc(var(--header-text) * 1.3);
    font-weight: bold;
    color: var(--color-title);
  }
}

@media screen and (max-width: 768px) {
  header {
    --header-text: 1rem;
  }  
}

@media screen and (max-width: 480px) {
  header {
    --header-text: 0.8rem;
  }  
}