#intro-typed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  & span {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-text);
  }
}

#title-typed {
  position: absolute;
  width: 100%;
  text-align: center;
  top: var(--top-header-typed);
  & span {
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-title);
  }
}