section {
  display: flex;
  height: var(--height-section);
  & .section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pink-light);
    width: var(--width-section-title);
    & .section-title-main {
      font-weight: bold;
      font-size: 2rem;
      color: var(--color-text);
      margin-bottom: 1rem;
    }
    & .section-title-sub {
      font-size: 1rem;
      font-weight: bold;
      color: var(--color-text);
    }
  }
  & .section-content {
    width: var(--width-section-content);
    background-color: var(--yellow-light);
    text-align: center;
  }
}