section {
  display: flex;
  height: 25rem;
  & .section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-section-title);
    width: 40vw;
    & .section-title-main {
      font-weight: bold;
      font-size: 2rem;
      color: var(--color-text);
      margin-bottom: 1rem;
    }
    & .section-title-sub {
      font-size: 1rem;
      font-weight: bold;
      color: var(--color-text);
    }
  }
  & .section-content {
    width: 60vw;
    background-color: var(--color-section-content);
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  section {
    flex-direction: column!important;

    & .section-title {
      width: 100%;
      height: 3rem;
      & .section-title-main {
        font-size: 1.2rem;
        line-height: 3rem;
        margin: 0;
      }
      & .section-title-sub {
        display: none;
      }
    }

    & .section-content {
      width: 100%;
      height: calc(100% - 3rem);
    }
  }
}