footer {
  display: block;
  position: relative;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: var(--color-text);
  background-color: var(--color-footer);
}

@media screen and (max-width: 768px) {
  footer {
    height: 3rem;
    line-height: 3rem;
    font-size: 0.8rem;
  }  
}

@media screen and (max-width: 480px){
  footer {
    height: 2rem;
    line-height: 2rem;
    font-size: 0.6rem;
  }
}