#waline {
  width: 100%;
  height: 100%;
  padding: 0.6rem;
  overflow-y: scroll;

  background-color: var(--color-waline-back);
  --waline-white: var(--color-title);
  --waline-bg-color: var(--color-waline-back-textarea);
  --waline-dark-grey: var(--color-waline-text);
  --waline-theme-color: var(--color-waline-theme);
  --waline-active-color: var(--color-waline-theme-hover);
  --waline-color: var(--color-waline-text);
  --waline-badge-color: var(--color-waline-text-badge);
  --waline-info-color: var(--color-waline-text-info);
  --waline-info-bg-color: var(--color-waline-text-infoback);
  & .wl-count { color: var(--color-waline-text); }
  scrollbar-width: none;
}
