:root {
  --color-title: #ffffff;
  --color-text: #300000;
  --brightness: 1;

  --color-section-title: #fff6f6;
  --color-section-content: #fff0f0;

  --color-footer: #fff0f0;
  --color-link: #fa255e;
  --color-scrollbar: #b06060;
  --color-scrollbar-back: #fff0f0;

  --color-project-text: #300000;
  --color-project-text-desc: #b06060;
  --color-project-back: #ffffff;
  --color-project-back-link: #fff0f0;
  --color-project-nav-dot: #fa255e;
  --color-project-nav-back: #fff0f0;

  --color-waline-back: #ffffff;
  --color-waline-back-textarea: #ffffff;
  --color-waline-theme: #ef7878;
  --color-waline-theme-hover: #ef4f4f;
  --color-waline-text: #300000;
  --color-waline-text-badge: #df6f6f;
  --color-waline-text-info: #b09090;
  --color-waline-text-infoback: #f6f6f6;
}
.dark {
  --color-title: #efefef;
  --color-text: #efefef;
  --brightness: 0.7;

  --color-section-title: #000000;
  --color-section-content: #101010;
  
  --color-footer: #000000;
  --color-link: #fa255e;
  --color-scrollbar: #b06060;
  --color-scrollbar-back: #101010;
  
  --color-project-text: #fff0f0;
  --color-project-text-desc: #b06060;
  --color-project-back: #101010;
  --color-project-back-link: #101010;
  --color-project-nav-dot: #fa255e;
  --color-project-nav-back: #101010;

  --color-waline-back: #101010;
  --color-waline-back-textarea: #000000;
  --color-waline-theme: #ef7878;
  --color-waline-theme-hover: #ef4f4f;
  --color-waline-text: #fff0f0;
  --color-waline-text-badge: #df6f6f;
  --color-waline-text-info: #b09090; 
  --color-waline-text-infoback: #000000;
}
body {
  background-color: var(--color-footer);
}
a {
  color: var(--color-link);
}
* {
  transition: all 0.3s ease;
}
html {
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-back);
}

