.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 50%;
  text-align: center;
  color: var(--color-text);

  & .item-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  }

  & .item-description {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  }

  & .item-link {
    font-weight: bold;
    padding: 0.5rem;
    color: var(--pink-highlight);
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  }
}

.swiper-pagination-bullet-active {
  background: var(--pink-light)!important;
}
