main {
  --color-title: #ffffff;
  --color-text: #300000;
  --color-back: #ffffff;

  --pink-light: #ffefef;
  --pink-normal: #ffe1e1;
  --pink-warm: #ffbdbd;
  --pink-highlight: #fa255e;

  --yellow-light: #fff9db;

  --height-section: 25rem;
  --width-section-title: 40vw;
  --width-section-content: 60vw;

  --top-header-title: 43%;
  --top-header-typed: 52%;
}

#waline {
  background-color: var(--color-back);
}

