main {
  --color-title: #ffffff;
  --color-text: #300000;
  --color-back: #ffffff;

  --color-section-title: #fff6f6;
  --color-section-content: #fff0f0;

  --color-footer: #fff0f0;
  --color-link: #fa255e;

  --color-project-text: #300000;
  --color-project-text-desc: #b06060;
  --color-project-back: #ffffff;
  --color-project-back-link: #fff0f0;
  
  & a {
    color: var(--color-link);
  }
  & #waline {
    background-color: var(--color-back);
  }
}