html {
  --color-title: #ffffff;
  --color-text: #000000;
  --color-back: #ffe9e9;
  --pink-light: #ffefef;
  --pink-normal: #ffe1e1;
  --pink-warm: #ffbdbd;
  --pink-highlight: #fa255e;

  --height-section: 10rem;
  --width-section-title: 40%;
  --width-section-content: 60%;
}