@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply transition m-0 p-0 box-border;
  }
  a {
    @apply text-rose-500 no-underline;
  }
  em, i {
    @apply not-italic;
  }
  li {
    @apply list-none;
  }
  img {
    @apply border-none;
  }
  button {
    @apply cursor-pointer;
  }
  body {
    @apply bg-white dark:bg-black;
  }
  html {
    @apply overflow-x-hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: theme(colors.rose.400) theme(colors.rose.50);
  }
  html.dark {
    scrollbar-color: theme(colors.rose.400) theme(colors.zinc.950);
  }
}